page-map {
    #map_canvas{
        display: block;
        height: 100%;
        width: 100%;
    }

    ion-content,
    .scroll-content
    { 
        padding: 0 !important;
    }
}

.Maptrk{
    position: relative;
}

.Margin{
    align-content: 200px;
}

.PlusB{
    position: absolute;
    left: 300px;
    background: transparent !important;
    color: #41a9de
}

.color{
    color: #41a9de;
}

.MAAP{
    text-decoration-color: #FFFFFF !important;
    color: #FFFFFF !important;
    text-align: center;
    text-emphasis-color: #FFFFFF !important;
}

.toolbar-background{
    background-color: #41a9de !important;
}

.toolbar-text{
    color: #FFFFFF !important;
    text-decoration-color: #FFFFFF !important;
    text-emphasis-color: #FFFFFF !important;
}

//.color{
//    background: transparent !important;
//    button-positive-bg: positive;
//    button-positive-text: positive-text;// !default;
//    button-positive-border: light; // !default;:default
//    button-positive-active-bg: light;// !default;
//    button-positive-active-border: light;// !default;
//}
